<div id="vcomments"></div>
<script>
  function loadValine() {
    let s = document.createElement('script');
    s.setAttribute('src', '//cdn.jsdelivr.net/npm/valine');
    s.async = false;
    document.body.appendChild(s);
    s.onload = () => {
      let valine = new Valine();
      valine.init({
        av: AV,
        el: '#vcomments',
        appId: '{{ site.comments.valine.leancloud_appid }}',
        appKey: '{{ site.comments.valine.leancloud_appkey }}',
        placeholder: '{{ site.comments.valine.placeholder }}',
        avatar: '{{ site.comments.valine.avatar }}',
        // enableQQ: true
      });
    }
  }

  setTimeout(function () {
    if ("IntersectionObserver" in window) {
      var io = new IntersectionObserver(function (entries) {
        if (entries[0].isIntersecting) {
          loadValine();
          io.disconnect();
        }
      });
      io.observe(document.getElementById('vcomments'));
    } else {
      loadValine();
    }
  }, 1);
</script>